opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_EXPORT_FILE'
  name: 'ExportFileCsv'
  scope: 'text/csv'
  confidence_level: 50 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'
  datafolder: "C:/temp/data"
  git_user: "WildDogOne"
  git_password: "XXX"
  git_repo: "github.com/WildDogOne/CTI.git"
  timeframes:
    - "1h"
    - "1d"
export-file-csv:
  delimiter: ';'