opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'changeme'
  type: 'EXTERNAL_IMPORT'
  name: 'Wild Connectors'
  scope: 'wild'
  confidence_level: 50
  update_existing_data: True
  log_level: 'info'
  openphish: True
  interval: 360 # Required, in minutes
